#landing-page {
  background-image: linear-gradient(80deg, var(--color-primary), var(--color-primary-dark));
  color: var(--color-title);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-page-content #content {
  position: relative;
  top: 5rem;
}

#landing-page-content #content h1 {
  font: 700 6.4rem Archivo;
  text-align: center;

}

#landing-page-content #content p {
  font: 400 1.8rem Poppins;
  color: #fff;
  text-align: center;
  top: -1rem;
}

#landing-page-content .heroImg {
  max-width: 100%;
  height: auto;
}

#landing-page-content .input-block {
  display: flex;
  justify-content: center;
}

#landing-page-content .inputButton {
  background-color: var(--color-secondary);
  position: relative;
  top: -4rem;

  width: 45%;
  height: 10.2rem;

  border: 0;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s;
}

#landing-page-content .inputButton:hover {
  background-color: var(--color-secondary-dark);
}

#landing-page-content .input-block a:first-child {
  margin-right: 1.6rem;
}

#landing-page-content .inputButtonText {
  color: var(--color-text);
  font: 700 1.8rem Poppins;
}


@media (min-width: 1100px) {
  #landing-page-content {
    max-width: 1100px;

    position: relative;
    top: -10rem;

    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "logo hero hero"
      "button button empty"
    ;
  }
  
  #landing-page-content #content {
    grid-area: logo;

    align-self: center;
    text-align: left;
    margin: 0;
  }
  #landing-page-content #content h1 {
    line-height: 10rem;

  }
  #landing-page-content #content p {
    text-align: initial;
  }

  #landing-page-content .heroImg {
    grid-area: hero;

    height: auto;
    align-self: center;
  }
  #landing-page-content .input-block {
    grid-area: button;
    justify-content: flex-start;

  }
  #landing-page-content .inputButton {
    justify-content: center;
    position: initial;

    width: 48%;
    margin: 0;
    top: -2rem;

  }
  #landing-page-content .inputButtonText {
    font-size: 2.4rem;
  }

}
